@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Black Ops One', system-ui;
}

.body {
    background: url("bg.jpg");
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 5%, rgba(7, 5, 29, 1) 95%);
    width: 90vmin;
    height: 92vmin;
    mix-blend-mode: exclusion;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
    border: 2px solid lightskyblue;
    
}

.head{
   background: linear-gradient(blue, yellow, rgb(10, 163, 163));
   border: 5px double rgb(16, 23, 24);
   border-radius: 10px;
}

.snake{
    background-color:darkorange;
    border-radius: 50%;
}
.food{
    background-color: darkturquoise;
    border: 2px solid wheat;
    border-radius: 12px;
}

.score{
    position: absolute;
    top: 30px;
    left: 20px;
    font-size: 23px;
    color: rgb(117, 228, 226);
}
#arrow-buttons {
    display: flex;
    justify-content: space-around;
    margin : 15px;
}

.arrow-button {
    magin :18px;
    font-size: 20px;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.foot{
    margin-top: 5px;
    position:static;
    font-size: 12px;
    color: antiquewhite;
}
.arrow-button:hover {
    background-color: #555;
}

.leftright-buttons {
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 600px) {
    .body {
        flex-direction: column;
        align-items: center;
    }

    #board {
        width: 90vmin;
        height: 92vmin;
    }

    /* Adjust other styles as needed for smaller screens */
}
@media only screen and (min-width :600px){
    .foot{
        position: inherit;
        font-size: 15px;
    }
}
